node_modules
.next
out/
build/
.nyc_output
coverage
.git
.gitignore
README.md
Dockerfile*
.dockerignore
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.trash
.fseventsd
.SVN/